<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky bg-dark">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-light bg-dark" href="{{ url_for('main.index') }}">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light bg-dark" href="{{ url_for('api.get_status') }}">
                    <span data-feather="box"></span>
                    API <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>