{% extends "base.html" %}
{% block content %}
<main role="main" class="col-md-10 col-lg-10 ml-auto px-5 py-0">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>

  <canvas class="w-100" id="myChart" width="900" height="380"></canvas>

  <h2>Details</h2>
  <div class="table-responsive ">
    <table class="table table-striped table-sm text-nowrap">
      <thead>
        <tr>
          <th>Node ID</th>
          <th>Status</th>
          <th>Uptime</th>
          <th>Shared</th>
          <th>Peers</th>
          <th>Allocs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for node in storjNodes %}
          <td>{{ node.id }}</td>
          <td>{{ node.status }}</td>
          <td>{{ node.uptime }}</td>
          <td>{{ node.shared }}</td>
          <td>{{ node.peers }}</td>
          <td>{{ node.allocs }} / {{ node.dataReceivedCount }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
